In [22]:
#importar csvs y datasets
import pandas as pd

data_embarazadas= pd.read_csv("embarazo_adolescente.csv")
data_malaria= pd.read_csv("Malaria.csv")

In [23]:
data_embarazadas.drop(columns = ['Indicator'], inplace=True)
data_embarazadas.columns = ['Pais', 'Anio', 'Embarazos adolescentes']
data_embarazadas.head(5)

          Pais  Anio  Embarazos adolescentes
0  Afghanistan  2017                    62.0
1  Afghanistan  2014                    77.2
2  Afghanistan  2013                    87.0
3  Afghanistan  2011                   125.7
4  Afghanistan  2009                    80.0

In [24]:
data_malaria.drop(columns = ['Indicator'], inplace=True)
data_malaria.columns = ['Pais', 'Anio', 'Casos de Malaria']
data_malaria.head(5)

          Pais  Anio  Casos de Malaria
0  Afghanistan  2018             29.01
1  Afghanistan  2017             27.07
2  Afghanistan  2016             26.11
3  Afghanistan  2015             14.91
4  Afghanistan  2014             12.67

In [27]:
finaldf= pd.merge(data_malaria,data_embarazadas, how='inner', on=['Pais', 'Anio'])
finaldf.head()

          Pais  Anio  Casos de Malaria  Embarazos adolescentes
0  Afghanistan  2017             27.07                    62.0
1  Afghanistan  2014             12.67                    77.2
2  Afghanistan  2013              9.01                    87.0
3  Afghanistan  2011             18.87                   125.7
4  Afghanistan  2009             14.77                    80.0

In [33]:
finaldf.query('Anio == 2018').head()

           Pais  Anio  Casos de Malaria  Embarazos adolescentes
81   Bangladesh  2018              0.69                    74.0
224  Costa Rica  2018              0.04                    50.4
271       Egypt  2018              0.00                    51.8
323     Georgia  2018              0.00                    32.3
435  Kazakhstan  2018              0.00                    25.6

In [34]:
finaldf.groupby('Pais')['Casos de Malaria'].max().sort_values(ascending=False).head(10)

Pais
Solomon Islands                     743.5
Burkina Faso                        588.5
Rwanda                              585.5
Côte d’Ivoire                       520.1
Uganda                              508.4
Mozambique                          507.7
Benin                               487.0
Democratic Republic of the Congo    485.1
Guinea-Bissau                       474.5
Sierra Leone                        465.8
Name: Casos de Malaria, dtype: float64

In [40]:
finaldf.groupby('Pais')['Casos de Malaria'].mean().sort_values(ascending=False).head(10)

Pais
Burkina Faso                        509.200000
Côte d’Ivoire                       472.100000
Central African Republic            456.266667
Democratic Republic of the Congo    440.566667
Sierra Leone                        428.125000
Benin                               424.170000
Mozambique                          416.700000
Mali                                407.971429
Solomon Islands                     399.955000
Guinea                              395.800000
Name: Casos de Malaria, dtype: float64