## Antes de empezar...

Si bien en los apuntes se explican antes las Series y posteriormente los DataFrames, los ejercicios se centran en la última estructura de datos, ya que es la más interesante y necesaria para trabajar con datos tipo tabla.

Para resolver los ejercicios es **conveniente que antes se vea pdf al completo y practicar libremente** haciendo uso de las Series y DataFrames de ejemplos del tema.

Aunque trabajemos con DataFrames directamente, recuerda que cada columna del DataFrame es un objeto tipo Series, por lo que es de aplicación todos sus métodos.

Dado que es el primer ejercicio de Pandas se facilita la solución, pero trata de resolverlo antes por tu cuenta.

# Ejercicios

Carga los datos del fichero 'house.csv' en un dataframe y responde a las siguientes preguntas cada una en una celda diferente. 

- ¿Hay alguna habitación con 8 habitaciones?
- ¿Cual es el número mínimo y máximo de habitaciones en el DF?
- ¿Cuál es el precio medio?
- Genera una serie con la columna precio de con aquellos donde waterfront = 1 y waterfront = 0. De ellas calcula el precio medio. 
- Crea una nueva columna que sea la relación de precio por planta. 
- ¿Existen valores nulos en alguna columna?
- Genera un nuevo df con las columnas price, bedrooms, bathrooms, sqft_living, floors, waterfront, yr_builts, yr_renovated, city

- El precio de la casa que se encuentra en la fila número 256
- El número de habitaciones de las filas 215 a 222
- Recupera una selección aleatoria del 15% del DF  -> DataFrame.sample(%)
- De ese 15% aleatorio, filtra aquellos registros con 3 o 4 habitaciones y precio menor a 300_000 euros

In [43]:
import pandas
import numpy

house = pandas.read_csv("house.csv", sep=",", header=0, index_col=0, na_values="", decimal=".")

In [11]:
# ¿Hay alguna habitación con 8 habitaciones?
habitaciones=house[house["bedrooms"]==8]
habitaciones

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-28 00:00:00,1970000.0,8.0,3.50,4440,6480,2.0,0,3,5,3140,1300,1959,0,1210 22nd Ave E,Seattle,WA 98112,USA
2014-07-03 00:00:00,340000.0,8.0,2.75,2790,6695,1.0,0,0,3,1470,1320,1977,2004,17512 Corliss Ave N,Shoreline,WA 98133,USA

In [40]:
# ¿Cual es el número mínimo y máximo de habitaciones en el DF?
max_habitaciones=max(house["bedrooms"])
print(maximo_habitaciones)
min_habitaciones=min(house["bedrooms"])
print(min_habitaciones)

9.0
0.0

In [49]:
# ¿Cuál es el precio medio?
precio_medio=numpy.mean(house["price"])
print("El precio medio por casa es: %.2f" %precio_medio+"€")

El precio medio por casa es: 551962.99€

In [50]:
# Genera una serie con la columna precio de con aquellos donde waterfront = 1 y waterfront = 0.
# De ellas calcula el precio medio. 
habitaciones=house[house["waterfront"]==1 and house["waterfront"]==0]
habitaciones

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# Crea una nueva columna que sea la relación de precio por planta.

In [ ]:
# ¿Existen valores nulos en alguna columna?

In [ ]:
# Genera un nuevo df con las columnas
# price, bedrooms, bathrooms, sqft_living, floors, waterfront, yr_builts, yr_renovated, city

In [ ]:
# El precio de la casa que se encuentra en la fila número 256

In [ ]:
# El número de habitaciones de las filas 215 a 222

In [ ]:
# Recupera una selección aleatoria del 15% del DF  -> DataFrame.sample(%)

In [ ]:
# De ese 15% aleatorio, filtra aquellos registros con 3 o 4 habitaciones y precio menor a 300_000 euros