In [1]:
# Datos
import pandas as pd

datos = {
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos', 'Laura', 'Pedro', 'Sofía', 'Diego', 'Isabel', 'Mateo', 'Lucía', 'Javier', 'Carmen', 'Raúl', 'Elena'],
    'Mates': [85, 78, 92, 65, 88, 76, 95, 70, 82, 90, 73, 87, 79, 93, 68]
}

df_notas = pd.DataFrame(datos)
df_notas.set_index('Nombre', inplace=True)

# Ejemplo de cómo acceder a los datos
df_notas.head(5)

        Mates
Nombre
Ana        85
Juan       78
María      92
Carlos     65
Laura      88

# Ejercicio 1


Cálculo de estadísticas:

+ Calcula la media, la mediana, la moda, la varianza y la desviación estándar de las notas.
+ Calcula el percentil 25, el percentil 50 (mediana) y el percentil 75 de las notas.

Creación de histograma:
+ Crea un histograma que muestre la distribución de las notas.
+ Añade líneas verticales para marcar la media, la mediana y los percentiles calculados.
+ Añade zona para marcar media+-1std
+ Añade etiquetas y un título al gráfico.

Análisis:
+ Comenta la forma de la distribución de las notas.
+ Identifica si hay valores atípicos.
+ Compara la media y la mediana y explica qué indica la diferencia entre ellas.

# Ejercicio 2

Cálculo de cuartiles:
+ Calcula el primer cuartil (Q1), el segundo cuartil (Q2 o mediana) y el tercer cuartil (Q3) de las notas.

Creación de gráfico de barras:

+ Crea un gráfico de barras que muestre las notas de cada alumno.
+ Ordena las barras (o los datos) para que se vean por nota de forma descendente.
+ Añade una línea horizontal para marcar la mediana de las notas.
+ Añade un rectángulo que marque media+-1std.
+ Añade etiquetas y un título al gráfico.

Análisis:

+ Identifica qué alumnos están por encima y por debajo de la mediana.
+ Comenta la dispersión de las notas en relación con los cuartiles.
+ Explica qué información proporciona el gráfico de barras en comparación con el histograma del ejercicio anterior.