# Examen Análisis de Datos 2526: Tema 1 (NumPy y Pandas) 

+ Completa y entrega el cuaderno de jupyter con las celdas ejecutadas (asegúrate de que guardas el notebook, VSCode no tiene autoguardado)
+ Renombra el cuarderno con tu nombre antes de entregarlo
+ Completa cada celda de código según las instrucciones dadas en los comentarios. 

__IMPORTANTE__: Es un examen de NumPy y Pandas, los ejercicios deben realizarse usando funciones de ambas librerías sin usar estructuras de control (for, while, if-else, etc.) a no ser que se indique lo contrario.

# Ejercicio 1: NumPy (6 puntos)

Cada celda es 0.5 puntos a excepción de la última que vale 1 punto.

La siguiente celda solamente contiene los __datos__: 3 ndarrays con notas de alumnos y un ndarray adicional con los nombres.

In [ ]:
import numpy as np
# ======
# DATOS
#=======
nota_mates = np.array([4.3, 9.1, 7.2 , 4.8, 7.2, 4.4, 5.5, 4.2, 6.9, 3.3, 4.5, 5.6, 5.4, 6.8, 5.1])
nota_lengua = np.array([7.1, 8.7, 6.5 , 7.5, 5.6, 6.2, 5.4, 4.8 , 3.6, 4.8, 6.4, 5.6, 5.1 , 8.4, 5.0]) 
nota_fisica = np.array([7.4, 10, 7.8 , 5.4, 8.4, 3.2, 5.8, 6.4, 7.3, 3.5, 3.4, 5.6, 6.2, 4.1, 5.2])
alumnos = np.array(["Juan", "Noelia", "Pedro", "Marta", "Antonio", "Carlos", "Patricia", "Carmen", "Manuel", "Jorge",
                "Jose", "Sara", "María", "Rubén", "Bárbara"])

In [ ]:
#1.1
# Crea un ndarray del mismo tamaño y tipo de datos que notas_mates llamado "nuevo" con los valores a 1
nuevo=np.ones_like(nota_mates)

# Suma notas_mates y "nuevo" de forma vectorizada y guarda el resultado en ndarray "suma". Imprime el resultado.
suma=np.add(nota_mates,nuevo)

# Muestra el número de notas de suma
suma

array([ 5.3, 10.1,  8.2,  5.8,  8.2,  5.4,  6.5,  5.2,  7.9,  4.3,  5.5,
        6.6,  6.4,  7.8,  6.1])

In [ ]:
#1.2
# Muestra si existe al menos un alumno que haya suspendido lengua. Con mostrar True o False es sufiente.
print(np.any(nota_lengua<5))

True

In [ ]:
#1.3
# Muestra el nombre de los alumnos que han aprobado matemáticas
arr_aprobados_lengua = (nota_mates >= 5)
#esto devuelve un array de true y falses
print(alumnos[arr_aprobados_lengua])

['Noelia' 'Pedro' 'Antonio' 'Patricia' 'Manuel' 'Sara' 'María' 'Rubén'
 'Bárbara']

In [ ]:
#1.4
# Muestra el nombre de los alumnos que han sacado, en matemáticas, menor nota que la media de matemáticas
media_mates=np.mean(nota_mates)
arr_menor_notamedia_mates = (nota_mates < media_mates)
print(alumnos[arr_menor_notamedia_mates])

['Juan' 'Marta' 'Carlos' 'Patricia' 'Carmen' 'Jorge' 'Jose' 'Sara' 'María'
 'Bárbara']

In [ ]:
#1.5
#Muestra el nombre de los alumnos que han sacado mayor nota en mates que en física
#nombro el array segun el ejercicio para que no ocupe tanto espacio
arr_1_5 = (nota_mates > nota_fisica)
print(alumnos[arr_1_5])

['Carlos' 'Jose' 'Rubén']

In [14]:
#1.6
# Muestra el nombre de los alumnos que han suspendido matemáticas y lengua
arr_1_6 = (nota_mates < 5) & (nota_lengua < 5)
print(alumnos[arr_1_6])

['Carmen' 'Jorge']

In [15]:
#1.7
# Muestra el nombre de los alumnos que han aprobado todo
arr_1_7 = (nota_mates >= 5) & (nota_lengua >= 5) & (nota_fisica >= 5)
print(alumnos[arr_1_6])

['Carmen' 'Jorge']

In [18]:
#1.8
# Genera un ndarray de strings, indicando en cada valor "lengua" o "fisica"
# El ndarray debe indicar, por cada alumno, la asignatura donde tiene la nota más alta entre lengua y fisica
arr_1_8=np.empty_like(alumnos)

for index,alumno in enumerate(alumnos):
    if nota_lengua[index] < nota_fisica[index]:
        arr_1_8[index] = "Lengua"
    elif nota_lengua[index] > nota_fisica[index]:
        arr_1_8[index] = "Fisica"
    else:
        arr_1_8[index] = "Empate"

print(arr_1_8)

['Lengua' 'Lengua' 'Lengua' 'Fisica' 'Lengua' 'Fisica' 'Lengua' 'Lengua'
 'Lengua' 'Fisica' 'Fisica' 'Empate' 'Lengua' 'Fisica' 'Lengua']

In [ ]:
#1.9
# Genera un array que guarde la nota media de las tres asignaturas, redondeando a 2 decimales. Una el método ndarray.round() para redondear.
arr_1_9=np.empty_like(nota_lengua)

for index,alumno in enumerate(alumnos):
    media= np.round(np.mean((nota_lengua[index],nota_mates[index],nota_fisica[index])),2)
    arr_1_9[index] = media

print(arr_1_9)

['6.27' '9.27' '7.17' '5.9' '7.07' '4.6' '5.57' '5.13' '5.93' '3.87'
 '4.77' '5.6' '5.57' '6.43' '5.1']

In [ ]:
#1.10
# Calcula y muestra cuantos alumnos han aprobado y cuantos han suspendido en matemáticas (se aprueba con 5 o más)

print(f"aprobados: {len(alumnos[nota_mates>=5])}")
print(f"suspendidos: {len(alumnos[nota_mates<5])}")

aprobados: 9
suspendidos:6

In [51]:
#1.11
# Calcula y muestra un array llamado "maximas" que guarde la nota más alta de cada alumno entre las 3 asignaturas
maximas=np.empty_like(nota_lengua)
for index,alumno in enumerate(alumnos):
    maxima= max((nota_lengua[index],nota_mates[index],nota_fisica[index]))
    maximas[index] = maxima

print(maximas)

# Muestra el nombre del alumno que ha sacado la nota más alta entre todas las asignaturas
nota_maxima = np.max(maximas)
for indice,alumno in enumerate(alumnos):
    if maximas[indice] == nota_maxima:
        print(alumno)

[ 7.4 10.   7.8  7.5  8.4  6.2  5.8  6.4  7.3  4.8  6.4  5.6  6.2  8.4
  5.2]
Noelia

# Ejercicio 2: Pandas (4 puntos)

* Cada celda vale 0.5 puntos
* Si la celda es generar o modificar un df, muéstralo.

In [52]:
# =====
# Datos
# =====
import pandas as pd

# Datos para el DataFrame
data = {
    'Sucursal': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur'],
    'Trimestre': ['Q1', 'Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q2', 'Q3', 'Q3'],
    'Producto': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B'],
    'Ventas': [150, 120, 90, 210, 160, 130, 95, 220, 180, 140],
    'Precio': [10.5, 5.0, 25.0, 3.5, 10.5, 5.0, 25.0, 3.5, 11.0, 5.0]
}

# Creación del DataFrame
df_ventas = pd.DataFrame(data)
df_ventas

  Sucursal Trimestre Producto  Ventas  Precio
0    Norte        Q1        A     150    10.5
1      Sur        Q1        B     120     5.0
2     Este        Q1        C      90    25.0
3    Oeste        Q1        D     210     3.5
4    Norte        Q2        A     160    10.5
5      Sur        Q2        B     130     5.0
6     Este        Q2        C      95    25.0
7    Oeste        Q2        D     220     3.5
8    Norte        Q3        A     180    11.0
9      Sur        Q3        B     140     5.0

In [54]:
# Ordena el DF por columna 'Ventas' en orden descendente. (inplace) 
df_ventas.sort_values('Ventas', inplace=True)
df_ventas

  Sucursal Trimestre Producto  Ventas  Precio
2     Este        Q1        C      90    25.0
6     Este        Q2        C      95    25.0
1      Sur        Q1        B     120     5.0
5      Sur        Q2        B     130     5.0
9      Sur        Q3        B     140     5.0
0    Norte        Q1        A     150    10.5
4    Norte        Q2        A     160    10.5
8    Norte        Q3        A     180    11.0
3    Oeste        Q1        D     210     3.5
7    Oeste        Q2        D     220     3.5

In [56]:
# Crea una nueva columna en df_ventas que sea Ventas * Precio llamada Facturado
df_ventas['Facturado'] = df_ventas['Ventas'] * df_ventas['Precio']
df_ventas

  Sucursal Trimestre Producto  Ventas  Precio  Facturado
2     Este        Q1        C      90    25.0     2250.0
6     Este        Q2        C      95    25.0     2375.0
1      Sur        Q1        B     120     5.0      600.0
5      Sur        Q2        B     130     5.0      650.0
9      Sur        Q3        B     140     5.0      700.0
0    Norte        Q1        A     150    10.5     1575.0
4    Norte        Q2        A     160    10.5     1680.0
8    Norte        Q3        A     180    11.0     1980.0
3    Oeste        Q1        D     210     3.5      735.0
7    Oeste        Q2        D     220     3.5      770.0

In [64]:
# Calcula y muestra CUÁNTOS productos hay de clase A
print(df_ventas.loc[df_ventas['Producto'] == 'A'].shape[0])

3

In [66]:
# Muestra los productos que se han ventido 200 o más unidades. Columnas Producto, Ventas, Precio
doscientos_o_mas = df_ventas[['Producto','Ventas','Precio']]
doscientos_o_mas.loc[df_ventas['Ventas'] >= 200]

  Producto  Ventas  Precio
3        D     210     3.5
7        D     220     3.5

In [80]:
# Muestra la fila de sucursal Norte donde más ventas (unidades vendidas) ha habido
df_ventas_norte = df_ventas.loc[df_ventas['Sucursal'] == 'Norte'].sort_values('Ventas', ascending=False)
df_ventas_norte.head(1)

  Sucursal Trimestre Producto  Ventas  Precio  Facturado
8    Norte        Q3        A     180    11.0     1980.0

In [81]:
# Pon la columna 'Sucursal' como etiquetas de las filas. EL RESULTADO se guarda en df_label
df_label = df_ventas.set_index(['Sucursal'])
df_label

         Trimestre Producto  Ventas  Precio  Facturado
Sucursal
Este            Q1        C      90    25.0     2250.0
Este            Q2        C      95    25.0     2375.0
Sur             Q1        B     120     5.0      600.0
Sur             Q2        B     130     5.0      650.0
Sur             Q3        B     140     5.0      700.0
Norte           Q1        A     150    10.5     1575.0
Norte           Q2        A     160    10.5     1680.0
Norte           Q3        A     180    11.0     1980.0
Oeste           Q1        D     210     3.5      735.0
Oeste           Q2        D     220     3.5      770.0

In [92]:
# Muestra las columnas 'Trimestre', 'Producto' y 'Ventas' de las filas donde la sucursal es 'Norte' de df_label
sucursal_norte = df_label[['Trimestre','Producto','Ventas']]
sucursal_norte.loc['Norte']

         Trimestre Producto  Ventas
Sucursal
Norte           Q1        A     150
Norte           Q2        A     160
Norte           Q3        A     180

In [94]:
# A partir de df_ventas establece 'Sucursal' y 'Trimestre' como multi índice de 2 niveles. Guarda el resultado en df_label
# Luego, muestra solamente los registros de la sucursal 'Sur' del primer trimestre.
df_label2 = df_ventas.set_index(['Sucursal', 'Trimestre'])
df_label2.loc[('Sur', 'Q1')]

Producto         B
Ventas         120
Precio         5.0
Facturado    600.0
Name: (Sur, Q1), dtype: object